[submodule "emacs.d/vendor/ri-emacs"]
  path = emacs.d/vendor/ri-emacs
  url = http://github.com/pedz/ri-emacs.git
[submodule "emacs.d/vendor/jekyll.el"]
  path = emacs.d/vendor/jekyll.el
  url = http://github.com/talison/jekyll.el.git
[submodule "emacs.d/vendor/projectile"]
  path = emacs.d/vendor/projectile
  url = http://github.com/bbatsov/projectile.git
[submodule "i3/i3lock-fancy-multimonitor"]
	path = i3/i3lock-fancy-multimonitor
	url = https://github.com/guimeira/i3lock-fancy-multimonitor.git
